main{
    display: flex;
}


.one-city{
    outline: black 1px solid;
}

.btn{
    background-color: royalblue;
    color: white;
}

.nav{
    justify-content: center;
    color: white;
}

#iconSize{
    line-height: 100 !important;
    vertical-align: middle !important;
    border-style: none !important;
    height: 50px !important;
    width: 50px !important; 
}