main{
    display: flex;
}


.one-city{
    outline: black 1px solid;
}

.btn{
    background-color: royalblue;
    color: white;
}

.nav{
    justify-content: center;
    color: white;
}

#iconSize{
    /* line-height: 100 !important; */
    
    border-style: none !important;
    height: 50px !important;
    width: 50px !important; 
    
}

#forecast{
    background-color: #094479;
    color: white;
}

#forecastNav{
    background-color:#90b8cf!important; 
    color: white;
    
    
}
#searchID{
    width: 100%;
}

#searchButt{
    width: 100%;
    color: white;
    background-color: #094479;
    border-radius: 10px;
}

#pastButt{
    width: 100%;
    color: white;
    background-color: #094479;
    border-radius: 10px;
    height: 30px;
}